.super-mario {
  width: 200px;
  position: absolute;
  left: 35%;
  top: 35%;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 45%;
  top: 68%;
}

.baloon {
position: absolute;
left: 50%;
top: 20%;
z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 52%;
  top: 25%;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 70%;
  top: 48%;
}